Make sure you have Python 2 installed, then run:

py -2 -m pip install bottlenose
py -2 -m pip install lxml
py -2 -m pip install python-dateutil
py -2 -m pip install python-amazon-simple-product-api
(py -2 -m pip install pinterest-client) --degraded, don't use.
py -2 -m pip install requests
py -2 -m pip install requests_toolbelt


You also need:
An Amazon Product Advertising account
An AWS account

finally, move pinterest_client-1.0.2-py2.7 folder to /your/path/to/site-packages/
this is the api for pinterest. then run:
py -2 setup.py install 
from inside the pinterest_client-1.0.2-py2.7 folder.